* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
}
/*header*/
nav {
	background-color: #ca3c25;
}

ul {
	padding-left: 200px;
}

li {
	display: inline-block;
	padding: 20px 10px;
	list-style: none;
}

a {
		color: white;
}

body {
	background-color: #1d1a05;
}

.content {
	text-align: center;
	margin: 20px 150px;
}
/*galería*/
figure {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 5px solid gray;
	width: 200px;
	height: 200px
}
img {
	width: 200px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

figure a {
	position: absolute;
	text-decoration: none;
	top: 7px;
	left: 7px;
	font-size: 25px;
	color: white;
}

.deleted {
	display: none !important;
}
/*texto*/
.text {
	color: #f4f7ba;
}
button {
	background-color: #ca3c25;
	border: none;
	width: 305px;
	margin-top: 15px;
	padding: 3px;
	color: white;
	font-size: 16px;
}

button:hover {
	border: 1px solid #f4f7ba;
}

#historia, #origen{
	display: inline-flex;
	width: 450px;
	text-align: justify;
	margin: 20px;
}

.ocultar {
	visibility: hidden !important;
}
