* {
	margin: 0;
	padding: 0;
}
/*header*/
nav {
	background-color: #de4a2a;
}

ul {
	padding-left: 200px;
}

li {
	display: inline-block;
	padding: 20px 10px;
	list-style: none;
}

a {
	color: #f6edbb;
}

body {
	background-color: #1b1a07;
}

.content {
	text-align: center;
	margin: 20px 150px;
}
/*galería*/
figure {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 5px solid gray;
	width: 200px;
	height: 200px
}
img {
	width: 200px;
}

figure a {
	position: absolute;
	text-decoration: none;
	top: 0;
	left: 5px;
	font-size: 20px;
}

.deleted {
	display: none !important;
}
/*texto*/
button {
	background-color: #de4a2a;
	color: #f6edbb;
	border: none;
	width: 305px;
	margin-top: 15px;
	padding: 3px;
}
#historia {
	display: inline-flex;
	width: 450px;
	text-align: justify;
	margin: 20px;
	color: #f6edbb;
}

#origen {
	display: inline-flex;
	width: 450px;
	text-align: justify;
	margin: 20px;
	color: #f6edbb;
}

.ocultar {
	visibility: hidden !important;
}
